.Top {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

  height: 600px;
   /* added px */
  border-radius: 15px; /* optional: makes it look modern */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading{
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 100px;
    
    border-radius: 10px;
   
    
   
}


.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    
    
}


.contact p a{
    text-decoration: none;
    color:white;
}

svg{
    width: 40px;
    height: 40px;
    color: rgb(19, 94, 185);
    
    margin: -1 -1px;
    cursor: pointer;
   
}
svg:hover{
    color:rgb(5, 5, 5);
    text-decoration:underline;
    }

.intro{
    font-size:20px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 20px;

   
   

}
#skills{
    font-size:20px;
    display:grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr ;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin-top:-30px;
   
   
}
.Techno{
    font-size:40px;
    color:rgb(94, 158, 169);
   justify-content: end;
   align-self:end;
    font-family: Arial, sans-serif;
    padding: 20px;
   

}
.Experience{
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
   
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: left;
    gap:30px;

}
    
.Education{
    font-size:15px;
    
   
     justify-items: center;  /* centers each item horizontally */
    align-items: center;  
    
}
.projects{
    font-size:20px;
    text-align:left;
     justify-items: center;  /* centers each item horizontally */
    align-items: center;  
    
}
.projects li{
    list-style-type: none;
}
.bottom-card{
    background-color: rgba(245, 249, 249, 0.917);
      font-family: Arial, sans-serif; 
}
footer{
    background-color: rgb(94, 158, 169);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    height: 200px;
}

@media (max-width: 900px) {
    .Experience {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        margin: 20px auto 0 auto;
        text-align: left;
        gap: 20px;
    }

    #skills {
       display:block;
       text-align: left;
    }

    .Education {
        font-size: 12px;
    }

    .projects {
        font-size: 15px;
    }

    .bottom-card {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }
}

                       
@media (min-width: 430px) {
    #skills{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto ;
        gap:1px;
        justify-content: left;
        align-items:start;

    }
  .Experience > * {
        margin-bottom: 15px;
    }

    #skills > * {
        margin-bottom: 10px;
    }
}
